/* (A) STATIC BALL */
.ball {
  /* (A1) DIMENSIONS */
  width: 100px; height: 100px;
  border-radius: 50%;

  /* (A2) MORE TOP MARGIN FOR BOUNCE ANIMATION */
  margin: 80px auto 0 auto;

  /* (A3) COLOR */
  background: #f45342;
}

/* (B) SIMPLE BOUNCE */
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* (C) ADDING "GRAVITY" */
@keyframes gbounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-50px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.gbounce {
  animation: gbounce 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* (D) ADDING "SPRING EFFECT" */
@keyframes spring {
  0% { transform: scale(1) translateY(0); }
  10% { transform: scale(1.2, 0.6); }
  30% { transform: scale(0.8, 1.1) translateY(-50px); }
  50% { transform: scale(1) translateY(0); }
  100% { transform: translateY(0); }
}

.spring {
  animation: spring 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
